body {
    background: rgb(45,45,45);
    background: radial-gradient(circle, rgba(45,45,45) 0%, rgba((45,45,45)) 100%);
  }
  
  #login, #register, #CreateProfile{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

 #login > .form-signin, #register > .form-register {
   grid-column-start: 2;
 }
  